<!-- footer of the page -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 d-none d-md-block">
        <a class="footer__link" href="#"><span class="icon-pin"></span><span class="txt">MAPA SOCIAL</span></a>
      </div>
      <div class="col-12 col-md-8">
        <ul class="footer__option">
          <li>
            <a href="#">Cidades</a>
          </li>
          <li>
            <a href="#">Termos de Uso</a>
          </li>
          <li>
            <a href="#">Política de Privacidade</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>