<!-- header of the page -->
<header id="header">
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" srcset="assets/images/logo@2x.png 2x" alt="ORBIS" width="119" height="24">
      </a>
    </div>
    <div class="search-form">
      <button class="search-form__toggle default-style"><span class="for-sr">Alternar pop-up do formulário de
          pesquisa</span><span class="icon-search"></span><span class="c-cross"></span></button>
      <div class="search-form__container">
        <form action="#" method="post">
          <div class="form-elem">
            <div id="autocomplete-1" class="form-elem__holder">
              <label class="for-sr" for="search-field-1">Grupos Sociais, Lugares, etc.</label>
              <input type="text" id="search-field-1" placeholder="Ex: Grupos Sociais, Lugares, etc." class="autocomplete-1">
            </div>
          </div>
          <div class="form-elem has-ico">
            <div id="autocomplete-2" class="form-elem__holder">
              <label class="for-sr" for="search-field-2">Place</label>
              <input type="text" id="search-field-2" placeholder="Ex.: São Paulo, SP" value="São Paulo, SP" class="autocomplete-2">
            </div>
          </div>
          <div class="search-form__submit">
            <input class="default-style" type="submit" value="Search">
            <span class="icon-search"></span>
          </div>
        </form>
      </div>
    </div>
    <nav id="nav">
      <button class="nav__toggle default-style"><span class="for-sr">Alternar pop-up de navegação</span><span class="nav__toggle__holder"></span></button>
      <div class="nav__drop">
        <ul>
          <li><a href="#">Endereços</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Telefones</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Bairros</a></li>
          <li><a href="estados">Cidades</a></li>
          <li><a href="#">Cep</a></li>
          <li><a href="#">Pontos Turísticos</a></li>
          <li><a href="#">Cinemas</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- main content of the page -->