<!DOCTYPE html>
<html lang="en">
<head>
  <!-- set the encoding of your site -->
  <meta charset="UTF-8">
  <!-- set the viewport width and initial-scale on mobile devices  -->
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- meta description -->
  <meta name="description" content="No Orbis você encontra grupos sociais, empresas, endereços, locais, CEPs, telefones e muito mais no Brasil e no mundo. Baixe nosso app!">
  <!-- open graph -->
  <meta property="og:title" content="Orbis: encontre grupos sociais, empresas, ramo de Atividade, endereços e telefones no Brasil e no mundo.">
  <meta property="og:site_name" content="ORBIS">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.orbis.to/">
  <meta property="og:description" content="No Orbis você encontra grupos sociais, empresas, endereços, locais, CEPs, telefones e muito mais no Brasil e no mundo. Baixe nosso app!">
  <meta property="og:image" content="/assets/images/logo-500x500.png">
  <meta property="og:image:type" content="image/png">
  <!-- twitter summary card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@OrbisGeoNetwork">
  <meta name="twitter:title" content="Orbis: encontre grupos sociais, empresas, ramo de Atividade, endereços e telefones no Brasil e no mundo.">
  <meta name="twitter:description" content="No Orbis você encontra grupos sociais, empresas, endereços, locais, CEPs, telefones e muito mais no Brasil e no mundo. Baixe nosso app!">
  <meta name="twitter:image" content="/assets/images/logo-500x500.png">
  <meta name="twitter:image:alt" content="logo: ORBIS">
  <!-- include the google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900&display=swap" rel="stylesheet">
  <!-- include the site stylesheet -->
  <link rel="stylesheet" href="assets/compiled/css/theme.css">
  <!-- include the favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
  <title><%= title %></title>
</head>
<body>
    <%- body %>
</body>
</html>