// ---------------------------------------------------------===
// Neighborhood detail page styles
// ---------------------------------------------------------===

.txt-wrap {
  font-size: 13px;
  position: relative;
  margin-top: -4px;
  margin-bottom: 5px;

  >*:last-child {
    margin-bottom: 0;
  }
}